<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="ygoDeck">{{ygoDeck.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="ygoDeck" style="padding: 5px;">
    <div class="card-container main">
      <ion-text>Main Deck | Size: {{ygoDeck.main.length}}</ion-text>
      <div fxLayout="row [wrap]" fxLayoutAlign="center">
        <div *ngFor="let card of ygoDeck.main" fxFlex=20 fxFlex.gt-sm=12.5 fxFlex.gt-md=10 style="padding: 1px;">
          <img [src]="card.image" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="card-container extra">
      <ion-text>Extra Deck | Size: {{ygoDeck.extra.length}}</ion-text>
      <div fxLayout="row [wrap]" fxLayoutAlign="center">
        <div *ngFor="let card of ygoDeck.extra" fxFlex=20 fxFlex.gt-sm=12.5 fxFlex.gt-md=10 style="padding: 1px;">
          <img [src]="card.image" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="card-container side">
      <ion-text>Side Deck | Size: {{ygoDeck.side.length}}</ion-text>
      <div fxLayout="row [wrap]" fxLayoutAlign="center">
        <div *ngFor="let card of ygoDeck.side" fxFlex=20 fxFlex.gt-sm=12.5 fxFlex.gt-md=10 style="padding: 1px;">
          <img [src]="card.image" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
</ion-content>
