ion-content {
   
    .logo {
      width: 250px; /* Adjust the width of your logo */
      height: 250px; /* Adjust the height of your logo */
      display: block;
      margin: 0 auto;
      
      margin-bottom: 20px;
    }
  
    ion-spinner {
      margin-bottom: 20px;
    }
  
    ion-label {
      font-size: 18px; /* Adjust the font size as needed */
    }
  }

  .center{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }