<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar><ion-title>
            <ion-grid>
              <ion-row class="ion-justify-content-center">

                <ion-col size="auto" class="center-content">

                  <ion-img src="assets/icon/deckdojo.svg" alt="Logo" class="logo"></ion-img>

                </ion-col>
                <ion-col>
                  <div class="logo-text">Deck Dojo</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-title>



        </ion-toolbar>
      </ion-header>


      <ion-content>

        <ion-chip *ngIf="user;else singin" [routerLink]="['/profile']">
          <ion-avatar>
            <ion-img [src]="user.photoURL"></ion-img>
          </ion-avatar>
          <ion-label>{{user.displayName}}</ion-label>
        </ion-chip>
        <ng-template #singin>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/login']" lines="none">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>Log In / Register</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-template>



        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list id="labels-list">
          <ion-list-header>Ideas / Comments / Feedback?</ion-list-header>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="4">
                <ion-button href="https://discord.gg/Fk27uDC4" fill="clear" target="_blank">
                  <ion-icon name="logo-discord" size="large"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>



      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>