<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="image-picker-container">

    <ion-row *ngIf="!photo" class="ion-align-items-center ion-justify-content-center mid-col ">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-activatable ripple-parent rectangle" (click)="takePicture()">
          <div class="ripple-text">Select an Image</div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="card || photo">

      <ion-col size-md="6" size-sm="12" size-xs="12" *ngIf="card">
        <ion-card class="found-card">
          <ion-card-header
            style="background: linear-gradient(to bottom, rgba(39, 52, 57, 0.25) 0%, rgba(39, 52, 57, 0.5) 33%, rgba(39, 52, 57, 0.75) 66%, rgba(39, 52, 57, 1) 100%),url({{card.card_images[0].image_url_cropped}}) no-repeat center/cover;">
            <br>
            <br>
            <br>
            <ion-card-title>{{card.name}}</ion-card-title>
            <ion-card-subtitle *ngIf="card && !set">{{card.card_sets.length}} Print(s) | Price AVG:
              {{card.card_prices[0].cardmarket_price}} € </ion-card-subtitle>
            <ion-card-subtitle *ngIf="set">{{set.set_name}}| <ion-chip color="primary">{{set.set_rarity}}</ion-chip> |
              Price: {{set.set_price}} € </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item *ngIf="set">
              <ion-chip color="secondary">{{set.set_price}} €</ion-chip>
              <ion-chip color="secondary">{{set.set_rarity}}</ion-chip>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col> <ion-title>Set</ion-title> </ion-col>
                <ion-col> <ion-title>Rarity</ion-title></ion-col>
                <ion-col> <ion-title>Price</ion-title></ion-col>
                <ion-col> <ion-title>Buy</ion-title></ion-col>
              </ion-row>
              <ion-row *ngFor="let cardSet of card.card_sets" class="ion-align-items-center">
                <ion-col>
                  {{cardSet.set_name}}
                </ion-col>
                <ion-col>
                  {{cardSet.set_rarity}}
                </ion-col>
                <ion-col>
                  {{cardSet.set_price}} €
                </ion-col>
                <ion-col>
                  <ion-button fill="clear"
                    [href]="'https://www.cardmarket.com/'+'en'+'/YuGiOh/Products/Search?searchString='+card.name">Card
                    Market</ion-button>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>

          <ion-button *ngIf="set" fill="clear"
            [href]="'https://www.cardmarket.com/'+searchResult.language+'/YuGiOh/Products/Search?searchString='+set.name">Card
            Market</ion-button>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="photo" size-md="6" size-sm="12" size-xs="12">
        <ion-card *ngIf="photo" class="captured-card">
          <ion-card-content>
            <ion-list *ngIf="card">
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-img alt="Card Image" [src]="card.card_images[0].image_url_small"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ card.name }} [{{searchResult.language | uppercase}}]</h2>
                  <p *ngIf="set"> {{set.set_code+ " " }} | {{set.set_rarity+ " "}} | {{set.set_price }} €</p>
                  <p *ngIf="!set"> Set information not detected. Card has {{card.card_sets.length}} Prints.</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <div class="img-container">
              <ion-img [src]="photo" alt="Captured Photo" class="content-image" [class.blur]="processing"></ion-img>
              <ion-spinner color="primary" *ngIf="processing"></ion-spinner>
            </div>

          </ion-card-content>
          <div *ngIf="searchResult">
            <ng-template [ngIf]="searchResult.cardName"><ion-chip color="primary">{{searchResult.cardName}}</ion-chip>
            </ng-template>
            <ng-template [ngIf]="searchResult.id"><ion-chip color="primary">{{searchResult.id}}</ion-chip>
            </ng-template>
            <ng-template [ngIf]="searchResult.setID"><ion-chip color="primary">{{searchResult.setID}}</ion-chip>
            </ng-template>
            <ng-template [ngIf]="searchResult.language"><ion-chip color="primary">{{searchResult.language}}</ion-chip>
            </ng-template>

          </div>
        </ion-card>
      </ion-col>




    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="takePicture()">
    <ion-fab-button color="light">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>