<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="image-picker-container">
    <ion-row *ngIf="!photo" class="ion-align-items-center ion-justify-content-center mid-col ">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-activatable ripple-parent rectangle" (click)="takePicture()">
          <div class="ripple-text">Select an Image

          </div>
          
          <ion-ripple-effect>

          </ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>



    <ion-row  *ngIf="photo" class="ion-align-items-center ion-justify-content-center">
      <ion-col size-md="12" size-xs="12">
        <ion-card *ngIf="photo" class="captured-card">

          <ion-card-content>
            <ion-list *ngIf="card">
              <ion-item>
                <ion-thumbnail slot="start">
                <ion-img alt="Card Image" [src]="card.card_images[0].image_url_small" ></ion-img>
  
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ card.name }} [{{searchResult.language | uppercase}}]</h2>
                  <p *ngIf="set"> {{set.set_code }} | {{set.set_rarity }} | {{set.set_price }} €</p>
                  <p *ngIf="!set"> Set information not detected. Card has {{card.card_sets.length}} Prints.</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <div class="img-container">
            <ion-img [src]="photo" alt="Captured Photo"  class="content-image" [class.blur]="processing"></ion-img>
            <ion-spinner color="primary" *ngIf="processing"></ion-spinner>
          </div>
            {{ searchResult | json }}

          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" (click)="takePicture()">
    <ion-fab-button color="light">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>